body {
	font-family: 'NanumSquare', sans-serif;
	color: white;
}

/* Headers */
.greenheader {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	background-color: #003127;
}

.blackheader {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	background-color: #2B2B2B;
}

.mainheader {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	background-color: #2B2B2B;
}

.goback {
	position: relative;
	top: 14px;
	left: 14px;
	font-size: 16px;
	color: white;
	margin-right: -30px;
}

.pagename {
	margin: auto;
}


/* background */

.greenbg {
	width: 100%;
	height: 100vh;
	background-color: #003127;
	overflow-y: scroll;
}

.blackbg {
	width:100%;
	height: 100vh;
	background-color: #2B2B2B;
	overflow-y: scroll;
	padding-top: 44px;
}

.main {
	display: flex;
	flex-direction: column;
}

.logo {
	display: block;
	position: relative;
	top: 80px;
	width: 147px;
	height: 147px;
	margin: 0 auto 150px;
}


/* form */

.form {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 25px;
	padding-top: 40px;
}

input {
	display: block;
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-bottom-color: rgba(255, 255, 255, 0.5);
	background-color: transparent;
	width: 300px;
	margin: 0 auto 40px;
	color: white;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

input[type=password] {
	font-family: sans-serif;
}

input[type=password]::placeholder {
	font-family: 'NanumSquare', sans-serif;
}

.form-label {
	display: block;
	margin-bottom: 10px;
}

.form-items > li:last-child {
	margin-bottom: 70px;
}


/* buttons */

.goldbtn {
	display: flex;
	width: 300px;
	height: 52px;
	background-color: #8D734A;
	border: none;
	border-radius: 100px;
	color: white;
	justify-content: center;
	align-items: center;
	margin: 0 auto 20px;
}

.greenbtn {
	display: flex;
	width: 300px;
	height: 52px;
	background-color: #00462A;
	border: none;
	border-radius: 100px;
	color: white;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.links {
	width: fit-content;
	margin: 0 auto;
}


/* PickUpStore */

.pickup-store {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	margin: 12px auto 0;
}

.storename {
	font-size: 14px;
	color: #FFC52F;
	margin-right: 6px;
}

.pickup-location {
	font-size: 14px;
	margin-right: 6px;
}

/* MainPage */

.appname {
	position: relative;
	width: fit-content;
	margin: auto;
	font-size: 14px;
	padding-left: 14px;
}

.cart {
	position: relative;
	top: 13.667px;
	right: 16px;
	font-size: 16px;
}

.progress-container {
	margin-bottom: 50px;
}

.progress {
	display: block;
	position: relative;
	width: 180px;
	height: auto;
	margin: 20px auto 0;
}

.small-logo {
	display: block;
	position: relative;
	top: -110px;
	width: 95px;
	height: auto;
	margin: 0 auto;
}

.progress-percent {
	width: fit-content;
	margin: -100px auto 20px;
}

.percent {
	display: inline-block;
}

.total-percent {
	display: inline-block;
	color: #8D734A;
}

.progress-explain {
	width: fit-content;
	margin: 0 auto;
}

.barcode {
	display: block;
	margin: 0 auto 40px;
	width: 310px;
	height: auto;
}

.linkboxes {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
}

.page-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100px;
	border-right: 1px solid #8D734A;
}

.page-link:last-child {
	border-right: none;
}

.link-name {
	line-height: 1.666667;
}


/* ad */
.ad {
	display: block;
	width: 330px;
	height: auto;
	margin: 20px auto;
}


/* find success */

.find-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.success-explain {
	margin-top: 100px;
	margin-bottom: 30px;
	font-size: 18px;
}

.next-todo {
	margin-bottom: 50px;
	font-size: 14px;
}

.found-info-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 90px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	margin-bottom: 50px;
}


/* find fail */

.fail-explain {
	margin-top: 150px;
	margin-bottom: 50px;
	font-size: 18px;
}

.no-info {
	margin-bottom: 80px;
	font-size: 14px;
}


/* map popup */

.overlaybox {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url('../assets/popup-marker.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	width: 300px;
	height: 200px;
}

.map-popup-title {
	display: flex;
	justify-content: center;
	padding-top: 15px;
	margin-bottom: 15px;
}

.popup-name {
	font-size: 16px;
	color: #FFC52F;
	margin-right: 8px;
}

.congestion {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 16px;
	background-color: red;
	border-radius: 50px;
}

.congestion-text {
	font-size: 10px;
}

.store-location {
	display: block;
	margin: 0 auto 5px;
	font-size: 12px;
}

.when,
.time-text,
.bar,
.telephone {
	font-size: 10px;
}

.bar {
	color: rgba(255, 255, 255, 0.5);
}

.telephone {
	margin-top: 5px;
	margin-bottom: 12px;
}

.popup-buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.popup-button {
	display: block;
	background-color: transparent;
	border: none;
	border-top: 1px solid #8D734A ;
	color: #FFC52F;
	width: 150px;
	height: 45px
}

.popup-button:first-child {
	border-right: 1px solid #8D734A;
}


/* menu header */

.menu-header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 60px;
}

.menu-header-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	border-radius: 100px;
}

.menu-header-item.router-link-exact-active {
	background-color: #003127;
}

.menu-header-item:nth-child(1),
.menu-header-item:nth-child(3),
.menu-header-item:nth-child(4) {
	width: 50px;
}

.menu-header-item:nth-child(2),
.menu-header-item:nth-child(5) {
	width: 70px;
}

/* menu list */

.menu-card {
	display: flex;
	width: 330px;
	height: 80px;
	border-bottom: 1px solid #8D734A;
	margin: 0 auto;
}

.menu-img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	margin: auto 15px;
}

.menu-text {
	font-size: 14px;
	margin: auto 0;
}

.menu-name {
	display: block;
	margin-bottom: 8px;
}


/* menu count box */

.menu-count-box {
	display: flex;
	align-items: center;
	width: 300px;
	height: 180px;
	margin: 0 auto;
}

.menu-count-box-img {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: auto 40px auto 0;
}

.menu-count-box-menuname {
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}

.menu-count-box-price {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

.menu-count {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 130px;
	height: 35px;
	border: 1px solid #8D734A;
	border-radius: 100px;
}

.minus {
	background: url("../assets/minus.png");
}

.plus {
	background: url("../assets/plus.png");
}

.minus,
.plus {
	border: none;
	color: white;
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.menu-count-text {
	font-size: 18px;
}


/* option box */

.option-box {
	width: 300px;
	margin: 0 auto;
}

.option-name {
	display: block;
	width: 300px;
	font-size: 16px;
	margin-bottom: 12px;
}

input[type="radio"] {
	display: none;
}

.radio-box {
	display: flex;
	align-items: center;
	height: 30px;
	margin: 0 auto 20px;
}

.radio-box label {
	width: 151px;
	text-align: center;
	vertical-align: middle;
	padding: 5px 0;
	font-size: 16px;
	border: 1px solid #8D734A;
	cursor: pointer;
}

.radio-box input[type="radio"]:checked+label {
	background-color: #8D734A;
}


/* checkbox */

.checkoption-box {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.checkoption-check {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

input[type="checkbox"] {
	display: none;
}

input[type=checkbox] + label {
	display: block; 
	cursor: pointer;
	width: fit-content;
	height: 20px; 
	padding: 3px 0 3px 50px;
	background: url('../assets/unchecked.png') left/20px no-repeat;
	font-size: 12px;
	vertical-align: middle;
	}
	
input[type=checkbox]:checked + label {
	background-image: url('../assets/checked.png');
}
	
.plus-price {
	font-size: 12px;
}

.option-count {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 130px;
	height: 28px;
	border: 1px solid #8D734A;
	border-radius: 100px;
	margin-left: 170px;
	margin-top: -10px;
}

.option-minus {
	background: url("../assets/minus.png");
}

.option-plus {
	background: url("../assets/plus.png");
}

.option-minus,
.option-plus {
	border: none;
	color: white;
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

.option-count-text {
	font-size: 14px;
}

.greenbtn.menu-detail {
	display: flex;
	position: fixed;
	bottom: 15px;
}

.price-result {
	position: relative;
	right: 0;
}

.checkoption-check:last-child {
	margin-bottom: 80px;
}


/* history */

.menu-header-history {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 30px;
	background-color: #003127;
	margin: 0 auto;
	border-radius: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu-detail.history {
	font-size: 11px;
}